//- layout.pug
html
    head
        title #{title}
        meta(charset="UTF-8")
        style(type="text/css")
            | body{
            |    margin:2rem auto;
            |    max-width:60rem;
            |    line-height:1.6;
            |    font-size:18px;
            |    color:#444;
            |    padding:0 0.5rem}
            | code { font-size: 0.8rem}
            | h1,h2,h3{line-height:1.2}
        block head
    body
        small
            block header
            a(href="https://gitlab.com/leipert-projects/the-big-undefined") Repo
            = " · Built: "
            span(data-time-ago=new Date().getTime())=new Date()

        block content

        script
            | document.querySelectorAll('[data-time-ago]').forEach(function(node) {
            |   node.innerText = (Math.round((new Date().getTime() - parseInt(node.dataset.timeAgo)) / 1000 / 60)) + " minutes ago";
            | });
