extends layouts/base

block content
    h1 Merge by stage requests without proper stage label
    = "Stages available:"
    ul
        each stage in stages
            li
                a(href=`./${stage.stageSlug}.html`)=stage.stageName

    div !{methodology}
